<!DOCTYPE html>
<html>
<title>HTML Tutorial</title>
<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
<style>
/*decryptor007*/
/*selection*/
::-ms-selection{color:#FFF;  background-color:#A1D389;}
::-moz-selection{color:#FFF;  background-color:#A1D389;}
::-webkit-selection{color:#FFF;	background-color:#A1D389;}
::selection{color:#FFF; background-color:#A1D389;}
/*scrollbar*/
::-webkit-scrollbar { background:#fff; width: 7px; height: 7px;}
::-webkit-scrollbar-thumb {-webkit-border-radius: 10px; background-color:#666;}
::scrollbar { background:#fff; width: 7px; height: 7px;}
::scrollbar-thumb {-webkit-border-radius: 10px; background-color:#666; border-radius: 10px;}:
:-moz-scrollbar { background:#fff; width: 7px; height: 7px;}
::-moz-scrollbar-thumb {-webkit-border-radius: 10px; background-color:#666; border-radius: 10px;}

/*body*/

body{direction:ltr; font-family: 'Rajdhani';margin:10px;}

/*links*/

a{font-size:30px;font-family:;color:#2E6912;transition-duration:1s;transition-property:all;-webkit-transition-duration:1s;-webkit-transition-property:all;text-decoration:none;}
a:hover{color:#A1D389;text-decoration:none;}

/*customized for this page*/
.link{background-color:#2E6655; padding:15px; margin:30px;border-radius:5px; color:#fff;}
.content{text-align:Center;}


</style>
<body>
	<div class="content">
		<div style="text-align:Center;cursor:pointer;">
		<h1 style="color:#2E6912;display:inline-block;">CRUD  </h1><h1 style="color:#f00;display:inline-block;">GENERATOR</h1>
		<a href="https://www.github.com/decryptor007" target="_blank"><h5>@decryptor007</h5></a>
		</div>
		<a href="/sql" class="link" style="">SQL(MYSQL)</a>
		<a href="/nosql" class="link">NOSQL(MONGODB)</a>
	</div>
</body>
</html>
